<p>Pet Name: <%= @pets.name %></p>
<p>Date of Birth: <%= @pets.birth_date %></p>
<p>Sex: <%= @pets.sex %></p>
<p>Type: <%= @pets.type %></p>
<p>Pet Notes: <%= @pets.notes %></p>
<p>Pets Current Vet: <%= @pets.vet.pretty_name %></p>
<p>Pets Owner: <a href="/owners/<%= @pets.owner.id %>"><%= @pets.owner.pretty_name %></a></p>
<hr />

<div id="mynav">

  <a class="btn btn--action" href="/pets/<%= @pets.id %>/edit">Edit Pet</a>
  <form method="post" action="/pets/<%= @pets.id %>/delete">
    <input class="btn btn--danger" type="submit" value="Delete Pet"/>
  </form>
</div>
