<p>First Name: <%= @vet.first_name %></p>
<p>Last Name: <%= @vet.last_name %></p>
<% @vet.pets.each do |pet|%>
  <%= pet.name %>
<% end %>


<hr/>



<p><a href="/vets/<%= @vet.id %>/edit">Edit Vet</a></p>
<form method="post" action="/vets/<%= @vet.id %>/delete">
  <input type="submit" value="Delete Vet"/>
</form>
