<p>First Name: <%= @vet.first_name %></p>
<p>Last Name: <%= @vet.last_name %></p>
<p>Pets Under Care:
<% @vet.pets.each do |pet|%>
<a href="/pets/<%= pet.id %>"><%= pet.name %></a>
<% end %></p>
<hr/>

<div id="mynav">

<a class="btn btn--action" href="/vets/<%= @vet.id %>/edit">Edit Vet</a>
<form method="post" action="/vets/<%= @vet.id %>/delete">
  <input class="btn btn--danger" type="submit" value="Delete Vet"/>
</form>
</div>
