<p>First Name: <%= @vet.first_name %></p>
<p>Last Name: <%= @vet.last_name %></p>
<p>Pets Under Care:
<% @vet.pets.each do |pet|%>
<a href="/pets/<%= pet.id %>"><%= pet.name %></a>
<% end %></p>
<hr/>

<p><a href="/vets/<%= @vet.id %>/edit">Edit Vet</a></p>
<form method="post" action="/vets/<%= @vet.id %>/delete">
  <input type="submit" value="Delete Vet"/>
</form>
