
<form method="post" action="/owners/<%= @owners.id %>">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  value="<%= @owners.first_name %>"
  />
<br>
  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  value="<%= @owners.last_name %>"
  />
  <br>

  <label for="owners-telephone-number">Telephone Number:</label>
  <input type="text"
   name="telephone_number"
   id="owners-telephone-number"
   value="<%= @owners.telephone_number %>"
   />
   <br>

   <label for="street-address-field">Street Address:</label>
   <input
   type="text"
   name="street_address"
   id="street-address-field"
   value="<%= @owners.street_address %>"
   />
   <br>

   <label for="postcode-field">Postcode:</label>
   <input
   type="text"
   name="postcode"
   id="postcode-field"
   value="<%= @owners.postcode %>"
   />
   <br>

   <label for="email-field">Email Address:</label>
   <input
   type="text"
   name="email"
   id="email-field"
   value="<%= @owners.email %>"
   />
   <br>
   <input class="btn btn--action" type='submit' value="Edit Owner">

</form>
<input class="btn btn--danger" type="submit" value="Delete Owner"/>
