<h1>Owners</h1>

  <table>
    <tr>
      <th>Name</th>

      <th>Telephone Number</th>
      <th>Street Address</th>
      <th>Post Code</th>
      <th>Email</th>
      <th>Owners Pets</th>
    </tr>
    <% for owner in @owners %>
    <tr>
      <td><a href="/owners/<%= owner.id %>"><%= owner.pretty_name %></a></td>

      <td><%= owner.telephone_number %></td>
      <td><%= owner.street_address %></td>
      <td><%= owner.postcode %></td>
      <td><%= owner.email %></td>
      <td><% owner.pets.each do |pet| %>
        <a href="/pets/<%= pet.id %>"><%= pet.name %>
          <% end  %></td>
        </tr>
        <% end %>
      </table>
      <br><br>
      <a class="btn btn--action" href="/owners/new">Create Owner</a>
