<p>Owners Name: <%= @owners.pretty_name %></p>
<p>Telephone Number: <%= @owners.telephone_number %></p>
<p>Street Address: <%= @owners.street_address %></p>
<p>Postcode: <%= @owners.postcode %></p>
<p>Email: <%= @owners.email %></p>
<hr />


<div id="mynav">

<a class="btn btn--action" href="/owners/<%= @owners.id %>/edit">Edit Owner</a>

<form method="post" action="/owners/<%= @owners.id %>/delete">
  <input class="btn btn--danger" type="submit" value="Delete Owner"/>
</form>
</div>
<!-- <a class="btn btn--danger" href="/" title="Home">Home<a/> -->
